/**
    @fileOverview
    幻灯片主题样式：blank
    用于播放器
    @author Jinjiang<zhaojinjiang@yahoo.com.cn>
 */


[data-background-design="blank"] {
    background-color: white;
}

[data-design="blank"] {
    color: black;
    background: white none no-repeat;
    background-size: cover;
    background-position: center center;
}