/**
    @fileOverview
    幻灯片编辑器和播放器的样式
    @author Jinjiang<zhaojinjiang@yahoo.com.cn>
 */




/***** General *****/

    html, body {
        margin: 0;
        overflow: hidden;
        background: #232729;
        font-family: "Microsoft Yahei";
    }
    body:after {
        content: "html5 presentation editor";
    }

    /* Scrollbar */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
     
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
        border-radius: 4px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
        border-radius: 4px;
        background: rgba(0,128,128,0.25);
    }




/***** Editor Layout *****/

    #splash {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,0.5);
        color: #e3e3e3;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        padding-top: 20%;
        z-index: 110;
        overflow: hidden;
        -webkit-transition: bottom 1s, top 1s;
        -moz-transition: bottom 1s, top 1s;
        -ms-transition: bottom 1s, top 1s;
        -o-transition: bottom 1s, top 1s;
        transition: bottom 1s, top 1s;
    }

    #menu {
        position: absolute;
        height: 67px;
        left: 0;
        right: 0;
        top: 0;
        background: #232729 url(../images/logo.png) no-repeat 20px center;
        border-bottom: 1px solid #101010;
        color: black;
        font-weight: bold;
        z-index: 100;
        box-shadow: 0 2px 7px rgba(0,0,0, 0.2);
    }

    #sidebar {
        position: absolute;
        min-width: 228px;
        left: 0;
        top: 68px;
        bottom: 0;
        background: #2a2e30;
        border-right: 1px solid #111314;
        box-shadow: 1px 0 1px #2e3234;
        z-index: 50;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #main {
        position: absolute;
        width: 1000px;
        height: 750px;
        overflow: hidden;
        right: 20px;
        top: 68px;
        bottom: 0;
        z-index: 1;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform-origin: right top;
        -moz-transform-origin: right top;
        -ms-transform-origin: right top;
        -o-transform-origin: right top;
        transform-origin: right top;
    }

    #menu,
    #sidebar,
    #main {
        -webkit-transition-name: width, height, margin, padding, top, left, right, bottom, -webkit-transform;
        -moz-transition-name: width, height, margin, padding, top, left, right, bottom, -moz-transform;
        -ms-transition-name: width, height, margin, padding, top, left, right, bottom, -ms-transform;
        -o-transition-name: width, height, margin, padding, top, left, right, bottom, -o-transform;
        transition-name: width, height, margin, padding, top, left, right, bottom, transform;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }




/***** Editor Menu *****/

    #menu {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
    }

    #menu-info {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        line-height: 2;
        position: absolute;
        left: 0;
        top: 68px;
        font-size: 16px;
        line-height: 50px;
        color: #848484;
        padding: 0 0 0 20px;
    }

    #main-title {
        color: #999999;
        cursor: pointer;
        border: 1px gray dotted;
        border-radius: 2px;
        padding: 3px 5px;
    }

    #main-title.empty {
        color: #999999;
    }

    #main-title:hover {

        color: white;
        border-color: #ffffff;
    }

    #menu-ctrl {
        width: 100%;
        text-align: right;
    }

    #menu-ctrl a {
        float: right;
        border: none;
        background: url(../images/btn_line.png) no-repeat left 0;
        height: 67px;
        width: 68px;
        padding: 0 0 0 1px;
        margin: 0;
        box-shadow: none;
        border-radius: 0;
    }
    #menu-ctrl a span {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../images/btn_bg.png) no-repeat 8px center;
    }
    #menu-ctrl a span:hover {
        background-color: #111111;
    }
    #menu-ctrl #menu-btn-play span {
        background-position: -55px center;
    }
    #menu-ctrl #menu-btn-public span {
        background-position: -115px center;
    }
    #menu-ctrl #menu-btn-restart span {
        background-position: -178px center;
    }



/***** Editor Sidebar *****/

    #sidebar .panel {
        border-top: 1px solid #373a3c;
    }
    #sidebar .panel h3 {
        margin: 0;
        padding: 0 0 0 12px;
        cursor: pointer;
        color: #e3e3e3;
        line-height: 42px;
        font-size: 16px;
        font-weight: normal;
        font-family: "Microsoft Yahei";
        border-bottom: 1px solid #202325;
        background: url(../images/unexpand.png) no-repeat right center;
    }
    #sidebar .panel h3:hover {
        background-color: #232729;
    }
    #sidebar .panel > .content {
        padding: 8px 12px;
        border-top: 1px solid #373a3c;
        border-bottom: 1px solid #202325;
        display: none;
        color: #e3e3e3;
        font-size: 16px;
    }
    #sidebar .panel > .content .ps {
        font-size: 12px;
        color: #848484;
    }
    #sidebar .extra {
        display: none;
    }
    #sidebar .panel.expanded .extra {
        display: block;
    }
    #sidebar .panel p {
        margin: 10px 0;
    }
    #sidebar .panel.expanded h3 {
        background: url(../images/expand.png) no-repeat right center;
    }
    
    #sidebar .panel.expanded > .content {
        display: block;
    }


/* Style */

    #panel-style-btn-list {
        padding-top: 0.5em;
    }

    #panel-style-btn-list p[data-key] {
        display: none;
    }
    #panel-style-btn-list img {
        vertical-align: middle;
        border: 1px solid #000000;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        opacity: 0.7;
        -webkit-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -ms-transition: all 0.218s;
        -o-transition: all 0.218s;
        transition: all 0.218s;
    }
    #panel-style-btn-list img:hover {
        opacity: 1;
    }
    #panel-style-btn-list img.checked {
        opacity: 1;
    }

    #panel-style-btn-list.title p[data-key="color"],
    #panel-style-btn-list.title p[data-key="-ppt-size"],
    #panel-style-btn-list.subtitle p[data-key="color"],
    #panel-style-btn-list.subtitle p[data-key="-ppt-size"],
    #panel-style-btn-list.subtitle2 p[data-key="color"],
    #panel-style-btn-list.subtitle2 p[data-key="-ppt-size"],
    #panel-style-btn-list.content p[data-key="color"],
    #panel-style-btn-list.content p[data-key="-ppt-size"],
    #panel-style-btn-list.content p[data-key="-ppt-mode"],
    #panel-style-btn-list.content2 p[data-key="color"],
    #panel-style-btn-list.content2 p[data-key="-ppt-size"],
    #panel-style-btn-list.content2 p[data-key="-ppt-mode"] {
        display: block;
    }


/* Paginations */

    #panel-paginations .actions {
        position: relative;
        height: 36px;
    }
    #panel-paginations .actions .controls {
        position: absolute;
        right: 0;
        top: 0;
    }
    #panel-paginations button {
        padding: 3px 5px;
        font-size: 12px;
        line-height: 20px;
        background: #232729;
        border-radius: 2px;
        border: none;
        color: #e3e3e3;
        cursor: pointer;
        -webkit-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -ms-transition: all 0.218s;
        -o-transition: all 0.218s;
        transition: all 0.218s;
        box-shadow: none;
    }
    #panel-paginations button:hover {
        background: #000000;
        color: #ffffff;
    }
    #panel-paginations ol {
        margin: 0 -16px;
        padding: 0;
    }
    #panel-paginations ol li {
        margin: 0;
        padding: 8px 24px;
        cursor: pointer;
        line-height: 24px;
        list-style: decimal inside;
    }
    #panel-paginations ol li:hover {
        background: #232729;
    }
    #panel-paginations ol li.current {
        background: #000000;
    }
    #panel-paginations ol li.current .title {
        color: #e3e3e3;
    }


/* Layout & Themes */

    #panel-layout ul,
    #panel-themes ul {
        padding: 0.5em 0;
        margin: 0 -5px;
        list-style: none;
        overflow: hidden;
    }
    #panel-layout li,
    #panel-themes li {
        margin: 0 0 13px 13px;
        padding: 0;
        width: 80px;
        height: 80px;
        float: left;
        overflow: hidden;
        background: white none no-repeat 0 0;
        background-size: cover;
        -webkit-background-origin: border-box;
        -moz-background-origin: border-box;
        -ms-background-origin: border-box;
        -o-background-origin: border-box;
        background-origin: border-box;
        border: 1px solid #000000;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
        border-radius: 3px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
        opacity: 0.7;
        -webkit-transition: all 0.218s;
        -moz-transition: all 0.218s;
        -ms-transition: all 0.218s;
        -o-transition: all 0.218s;
        transition: all 0.218s;
    }
    #panel-layout li:hover,
    #panel-themes li:hover {
        opacity: 1;
    }
    #panel-layout li.current,
    #panel-themes li.current {
        opacity: 1;
        box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    }

    #panel-layout li[data-key="title"] {
        background-image: url(../images/layout-title.png);
    }
    #panel-layout li[data-key="subtitle"] {
        background-image: url(../images/layout-subtitle.png);
    }
    #panel-layout li[data-key="normal"] {
        background-image: url(../images/layout-normal.png);
    }
    #panel-layout li[data-key="double"] {
        background-image: url(../images/layout-double.png);
    }
    #panel-layout li[data-key="double-subtitle"] {
        background-image: url(../images/layout-double-subtitle.png);
    }
    #panel-layout li[data-key="picture"] {
        background-image: url(../images/layout-picture.png);
    }
    body.touch #panel-layout li[data-key="picture"] {
        display: none;
    }

    #panel-themes li img {
        width: 80px;
        height: 80px;
    }




/***** Editor Main *****/

    #main {
        background-size: cover;
        background-position: center center;
        outline: 3px black solid;
        box-shadow: 2px 2px 2px solid;
    }

    #preview, #slide {
        width: 1000px;
        height: 750px;
    }


/* Default Layout */

    #slide-title,
    #slide-subtitle,
    #slide-subtitle2,
    #slide-content,
    #slide-content2 {
        display: block;
        border: 1px gray dashed;
    }
    #preview #slide-title:hover,
    #preview #slide-subtitle:hover,
    #preview #slide-subtitle2:hover,
    #preview #slide-content:hover,
    #preview #slide-content2:hover,
    #preview #slide-title.hover,
    #preview #slide-subtitle.hover,
    #preview #slide-subtitle2.hover,
    #preview #slide-content.hover,
    #preview #slide-content2.hover {
        background: rgba(0,0,0,0.1);
        border-radius: 3px;
    }
    #preview.adjusting #slide-title,
    #preview.adjusting #slide-subtitle,
    #preview.adjusting #slide-subtitle2,
    #preview.adjusting #slide-content,
    #preview.adjusting #slide-content2 {
        -webkit-transition: width, height, font-size, padding, left, top, opacity;
        -moz-transition: width, height, font-size, padding, left, top, opacity;
        -ms-transition: width, height, font-size, padding, left, top, opacity;
        -o-transition: width, height, font-size, padding, left, top, opacity;
        transition: width, height, font-size, padding, left, top, opacity;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }




/***** Editor Layers *****/

    #main .layer,
    #layer-container > .layer {
        position: absolute;
        display: none;
        z-index: 60;
    }
    #layer-container > #adjust-layer {
        z-index: 70;
    }
    #layer-container > #type-layer {
        z-index: 80;
    }
    #layer-container > #mask-layer {
        z-index: 85;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255,255,255,0.1);
    }
    #layer-container > #dialog-layer {
        z-index: 90;
        background: white;
        border: 3px black solid;
        border-radius: 3px;
        padding: 1em 2em;
        top: 80px;
        box-shadow: 0 0 10px rgba(255,255,255,0.4);
    }

/* type layer */

    #type-layer .current {
        color: yellow;
    }

/* dialog layer */

    #dialog-header {
        font-weight: bold;
    }
    #dialog-footer {
        text-align: right;
    }

    #dialog-layer[data-type="img"] .preview {
        height: 100px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }
    #dialog-layer[data-type="color"] img {
        display: block;
        margin: 1em auto;
    }
    #dialog-layer[data-type="color"] .preview {
        height: 1em;
        margin: 1em;
    }




/***** Player *****/

    body.playing #menu,
    body.playing #sidebar,
    body.playing #main,
    body.playing #layer-container {
        display: none !important;
    }

    #player-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        right: 0;
        z-index: 100;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;

        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        -o-box-pack: center;
        box-pack: center;

        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-box-align: center;
        -o-box-align: center;
        box-align: center;

        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    #player-wrapper.play {
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    #player {
        position: relative;
        width: 1000px;
        height: 750px;
        margin: auto;
        -webkit-perspective: 300px;
        -moz-perspective: 300px;
        -ms-perspective: 300px;
        -o-perspective: 300px;
        perspective: 300px;
        -webkit-transform-origin: center 0;
        -moz-transform-origin: center 0;
        -ms-transform-origin: center 0;
        -o-transform-origin: center 0;
        transform-origin: center 0;
    }


/* Player Section */

    #player section {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #player section.current {
        display: block;
    }


/* Player Helper */

    #player-wrapper:after {
        position: absolute;
        bottom: 15px;
        left: 20px;
        z-index: 20;
        color: #333;
        font-size: 14px;
        font-family: "Optima", Consolas;
        content: "H → Help(帮助)";
    }
    #player-helper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 30;
        background-color: rgba(128, 128, 128, 0.5);
        display: none;
    }
    #player-helper > ul {
        margin: 120px auto;
        padding: 1em 2em;
        border: 1px black solid;
        border-radius: 10px;
        background-color: white;
        color: black;
        font-size: 16px;
        width: 200px;
    }
    #player-helper > ul > li {
        margin: 0;
    }



