/**
    @fileOverview
    幻灯片编辑器和播放器的样式
    @author Jinjiang<zhaojinjiang@yahoo.com.cn>
 */




/***** General *****/

    html, body {
        margin: 0;
        overflow: hidden;
    }
    body:after {
        content: "html5 presentation editor";
    }

    /* Let's get this party started */
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
     
    /* Track */
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
        border-radius: 4px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5); 
        border-radius: 4px;
        background: rgba(0,128,128,0.25);
    }




/***** Editor Layout *****/

    #splash {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 192, 255, 0.9);
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        padding-top: 20%;
        z-index: 110;
        overflow: hidden;
        -webkit-transition: bottom 1s, top 1s;
    }

    #menu {
        position: absolute;
        height: 2em;
        padding: 0.5em 1em;
        left: 0;
        right: 0;
        top: 0;
        background: #eee;
        color: black;
        font-weight: bold;
        z-index: 100;
        -moz-box-shadow: 0 2px 2px black;
        box-shadow: 0 2px 2px black;
    }

    #sidebar {
        position: absolute;
        min-width: 240px;
        left: 0;
        top: 3em;
        bottom: 0;
        background: silver;
        z-index: 50;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #main {
        position: absolute;
        width: 600px;
        height: 450px;
        overflow: hidden;
        right: 20px;
        top: 3em;
        bottom: 0;
        background: rgba(0, 192, 192, 0.5);
        z-index: 1;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform-origin: right top;
        -moz-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
    }

    #menu,
    #sidebar,
    #main {
        -webkit-transition-name: width, height, margin, padding, top, left, right, bottom, -webkit-transform;
        -moz-transition-name: width, height, margin, padding, top, left, right, bottom, -webkit-transform;
        -ms-transition-name: width, height, margin, padding, top, left, right, bottom, -webkit-transform;
        -o-transition-name: width, height, margin, padding, top, left, right, bottom, -webkit-transform;
        transition-name: width, height, margin, padding, top, left, right, bottom, -webkit-transform;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -ms-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
    }




/***** Editor Menu *****/

    #menu {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
    }

    #menu-info {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        line-height: 2;
    }

    #menu-title {
        color: gray;
        cursor: pointer;
        border: 1px gray dotted;
        border-radius: 5px;
        padding: 5px;
    }

    #menu-title.customized {
        color: black;
    }

    #menu-title:hover {
        background: gray;
        color: white;
    }

    #menu-ctrl {
        text-align: right;
    }




/***** Editor Sidebar *****/

    #sidebar .panel {
        margin: 5px;
        border: 1px black solid;
        border-radius: 5px;
        background: white;
        -moz-box-shadow: 1px 1px 2px black;
        box-shadow: 1px 1px 2px black;
        padding: 5px;
    }
    #sidebar .panel h3 {
        margin: 0;
        padding: 0.25em 5px;
        border-radius: 3px;
        cursor: pointer;
        background: rgba(192, 192, 192, 0.5);
    }
    #sidebar .panel h3:hover {
        background: rgba(128, 128, 0, 0.5);
    }
    #sidebar .panel > .content {
        padding: 0 5px 5px;
    }
    #sidebar .extra {
        display: none;
    }
    #sidebar .panel.expanded .extra {
        display: block;
    }
    #sidebar .panel p {
        margin: 0.25em 0;
    }


/* Style */

    #panel-style-btn-list {
        padding-top: 0.5em;
    }

    #panel-style-btn-list p[data-key] {
        display: none;
    }
    #panel-style-btn-list img {
        vertical-align: middle;
    }
    #panel-style-btn-list img:hover {
        -moz-box-shadow: 2px 2px 3px black;
        box-shadow: 2px 2px 3px black;
    }
    #panel-style-btn-list img.checked {
        outline: 2px blue solid;
        outline-offset: -2px;
        -moz-box-shadow: 2px 2px 3px blue;
        box-shadow: 2px 2px 3px blue;
    }

    #panel-style-btn-list.title p[data-key="color"],
    #panel-style-btn-list.title p[data-key="-ppt-size"],
    #panel-style-btn-list.subtitle p[data-key="color"],
    #panel-style-btn-list.subtitle p[data-key="-ppt-size"],
    #panel-style-btn-list.subtitle2 p[data-key="color"],
    #panel-style-btn-list.subtitle2 p[data-key="-ppt-size"],
    #panel-style-btn-list.content p[data-key="color"],
    #panel-style-btn-list.content p[data-key="-ppt-size"],
    #panel-style-btn-list.content p[data-key="-ppt-mode"],
    #panel-style-btn-list.content2 p[data-key="color"],
    #panel-style-btn-list.content2 p[data-key="-ppt-size"],
    #panel-style-btn-list.content2 p[data-key="-ppt-mode"] {
        display: block;
    }


/* Paginations */

    #panel-paginations ol {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }
    #panel-paginations ol li {
        margin: 0.25em 0;
        border: 0;
        padding: 0.25em 0.5em;
        cursor: pointer;
        border-radius: 3px;
    }
    #panel-paginations ol li:hover {
        background: rgba(0, 0, 192, 0.2);
    }
    #panel-paginations ol li.current {
        background: rgba(0, 0, 128, 0.6);
    }
    #panel-paginations ol li.current .title {
        color: white;
    }


/* Layout & Themes */

    #panel-layout ul,
    #panel-themes ul {
        padding: 0.5em 0;
        margin: 0 -5px;
        list-style: none;
        overflow: hidden;
    }
    #panel-layout li,
    #panel-themes li {
        margin: 0 0 5px 5px;
        padding: 0;
        width: 80px;
        height: 80px;
        float: left;
        overflow: hidden;
        background: white none no-repeat 0 0;
        -webkit-background-origin: border-box;
        -moz-background-origin: border-box;
        -ms-background-origin: border-box;
        -o-background-origin: border-box;
        background-origin: border-box;
        border: 1px #666 solid;
        box-shadow: 0 0 3px #666;
        border-radius: 3px;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    #panel-layout li:hover,
    #panel-themes li:hover {
        background-color: rgba(192, 192, 255, 0.2);
        -moz-box-shadow: 1px 1px 3px blue;
        box-shadow: 1px 1px 3px blue;
    }
    #panel-layout li.current,
    #panel-themes li.current {
        background-color: #666;
        color: white;
        border-width: 2px;
        -moz-box-shadow: 1px 1px 1px black;
        box-shadow: 1px 1px 1px black;
    }

    #panel-layout li[data-key="title"] {
        background-image: url(../images/layout-title.png);
    }
    #panel-layout li[data-key="subtitle"] {
        background-image: url(../images/layout-subtitle.png);
    }
    #panel-layout li[data-key="normal"] {
        background-image: url(../images/layout-normal.png);
    }
    #panel-layout li[data-key="double"] {
        background-image: url(../images/layout-double.png);
    }
    #panel-layout li[data-key="double-subtitle"] {
        background-image: url(../images/layout-double-subtitle.png);
    }

    #panel-themes li img {
        width: 80px;
        height: 80px;
    }




/***** Editor Main *****/

    #main {
        background: white none no-repeat;
        background-size: cover;
        background-position: center center;
        color: black;
        outline: 3px black solid;
        box-shadow: 2px 2px 2px solid;
    }

    #slide {
        width: 600px;
        height: 450px;
        background: white none no-repeat;
        background-size: cover;
        background-position: center center;
    }


/* Default Layout */

    #slide-title,
    #slide-subtitle,
    #slide-subtitle2,
    #slide-content,
    #slide-content2 {
        display: block;
        border: 1px gray dashed;
        margin: 0;
        padding: 0;
        border-radius: 5px;
    }
    #main #slide-title:hover,
    #main #slide-subtitle:hover,
    #main #slide-subtitle2:hover,
    #main #slide-content:hover,
    #main #slide-content2:hover,
    #main #slide-title.hover,
    #main #slide-subtitle.hover,
    #main #slide-subtitle2.hover,
    #main #slide-content.hover,
    #main #slide-content2.hover {
        background: rgba(0,0,0,0.1);
    }
    #main.adjusting #slide-title,
    #main.adjusting #slide-subtitle,
    #main.adjusting #slide-subtitle2,
    #main.adjusting #slide-content,
    #main.adjusting #slide-content2 {
        -webkit-transition: width, height, font-size, padding, left, top, opacity;
        -webkit-transition-duration: 0.5s;
    }




/***** Editor Layers *****/

    #main .layer,
    #layer-container > .bar,
    #layer-container > .menu,
    #layer-container > .mask,
    #layer-container > .dialog {
        position: absolute;
        display: none;
        z-index: 60;
    }
    #layer-container > .bar {
        z-index: 70;
    }
    #layer-container > .menu {
        z-index: 80;
    }
    #layer-container > .mask {
        z-index: 85;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(128, 128, 128, 0.5);
    }
    #layer-container > .dialog {
        z-index: 90;
        background: white;
        border: 3px black solid;
        border-radius: 10px;
        padding: 1em 2em;
        top: 80px;
    }


/* Input Layer */

    #main #layer-for-input {
        top: 0;
        left: 0;
    }

    #layer-for-input-textarea {
        display: block;
        position: absolute;
        background: white;
        color: black;
        border: 1px black solid;
        border-radius: 5px;
        overflow: auto;
        resize: none;
    }


/* Bar */

    #bar-for-slide {
        top: 80px;
        right: 20px;
        display: block !important;
        background: rgba(128, 128, 128, 0.5);
        -moz-box-shadow: 2px 2px 3px black;
        box-shadow: 2px 2px 3px black;
        padding: 5px;
        line-height: 1;
        border-radius: 3px;
    }
    #bar-for-slide img:hover {
        -moz-box-shadow: 2px 2px 3px black;
        box-shadow: 2px 2px 3px black;
    }


/* Dialog */

    #dialog-for-color {
        text-align: center;
    }
    #dialog-for-color-result {
        margin: 1em 2em;
        height: 1em;
    }
    #dialog-for-image-preview {
        background-size: contain;
        height: 200px;
        background-position: center center;
        background-repeat: no-repeat;
    }




/***** Player *****/

    body.playing #menu,
    body.playing #sidebar,
    body.playing #main,
    body.playing #layer-container {
        display: none !important;
    }

    #player-wrapper {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        right: 0;
        z-index: 100;
        background: white;

        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;

        -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-box-pack: center;
        -o-box-pack: center;
        box-pack: center;

        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-box-align: center;
        -o-box-align: center;
        box-align: center;

        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -ms-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
    }
    #player-wrapper.play {
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        -ms-transform: translate3d(-100%, 0, 0);
        -o-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    #player {
        position: relative;
        width: 600px;
        height: 450px;
        margin: auto;
        -webkit-perspective: 300px;
        -moz-perspective: 300px;
        -ms-perspective: 300px;
        -o-perspective: 300px;
        perspective: 300px;
    }

/* Player Section */

    #player section {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: white none no-repeat;
        background-size: cover;
        background-position: center center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    #player section.current {
        display: block;
    }


/* Player Helper */

    #player-wrapper:after {
        position: absolute;
        bottom: 15px;
        left: 20px;
        z-index: 20;
        font-size: 14px;
        font-family: "Optima", Consolas;
        color: #333;
        content: "H → Help(帮助)";
    }
    #player-helper {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 30;
        background-color: rgba(128, 128, 128, 0.5);
        display: none;
    }
    #player-helper > ul {
        margin: 120px auto;
        padding: 1em 2em;
        border: 1px black solid;
        border-radius: 10px;
        background-color: white;
        color: black;
        font-size: 16px;
        width: 200px;
    }
    #player-helper > ul > li {
        margin: 0;
    }



