body {
	font-family: 'Droid Sans', '文泉驿微米黑', '微软雅黑', 'Arial', sans-serif;
	line-height: 1.75;
	margin-bottom: 
}

hgroup {
	text-align: center;
}
header dl {
	float: right;
}
header, footer, section {
	margin-bottom: 3em;
}

header::after, footer::after, section::after {
	display: block;
	content: '';
	clear: both;
}

.note {
	text-indent: 2.5em;
}

