.slide [data-key].active {
    z-index: 7;
}

.ctrl {
    font-size: 14px;
    font-weight: normal;
}

.ctrl-start {
    position: absolute;
    z-index: 9;
    top: -2px;
    left: -2px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: -15px;
    border-radius: 15px;
    background: rgba(127, 127, 255, 0.5);
    -webkit-transition: background-color 0.5s;
}
.ctrl-start::before {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 40px;
    height: 40px;
    margin: -20px;
    background: transparent;
    border: 2px rgba(127, 127, 255, 0.5) solid;
    border-radius: 20px;
    box-sizing: border-box;
    content: " ";
    -webkit-transition: border-color 1s;
}
.ctrl-start:active::before {
    border-color: gray;
}
.ctrl-menu {
    position: absolute;
    z-index: 8;
    top: -45px;
    left: 0;
    display: -webkit-box;
    list-style: none;
    margin: 0;
    padding: 0;
}
.ctrl-menu li {
    margin: 0;
    padding: 0;
    opacity: 0;
    display: none;
    -webkit-transition: opacity 0.5s;
}
.ctrl-menu[data-show] li:nth-child(-n+3) {
    display: block;
}
.ctrl-menu[data-shown] li:nth-child(-n+3) {
    opacity: 1;
}
.ctrl-menu[data-extend] li {
    display: block;
}
.ctrl-menu[data-extended] li {
    opacity: 1;
}

.ctrl-menu li:nth-child(1) {
    position: absolute;
    top: 45px;
    left: -45px;
}
.ctrl-menu li:nth-child(2) {
    position: absolute;
    top: 0px;
    left: -45px;
}
.ctrl-menu li:nth-child(3) {
    position: absolute;
    top: 0px;
    left: 0px;
}
.ctrl-menu li:nth-child(4) {
    margin-left: 45px;
}

.ctrl-menu li:nth-child(1) a {
    border-bottom-left-radius: 40px;
}
.ctrl-menu li:nth-child(2) a {
    border-top-left-radius: 40px;
}
.ctrl-menu li:nth-child(3) a {
    border-top-right-radius: 40px;
}
.ctrl-menu[data-extended] li:nth-child(3) a {
    border-top-right-radius: 0;
}

.ctrl-menu li a {
    display: block;
    margin: 0 5px 0 0;
    padding: 0 0.5em;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgba(127, 127, 127, 0.1);
    -webkit-transition: border-radius 0.5s;
}
.ctrl-menu li:nth-child(-n+3) a {
    width: 40px;
    padding: 0;
}
.ctrl-menu li a:active {
    background-color: gray;
}
.ctrl-resize {
    position: absolute;
    bottom: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border-right: 4px silver solid;
    border-bottom: 4px silver solid;
    box-sizing: box-sizing;
    cursor: nw-resize;
}
.ctrl-resize:hover {
    background-color: transparent;
}
.ctrl-resize:active {
    border-color: gray;
}
.ctrl-resize::before {
    position: absolute;
    content: " ";
    width: 0px;
    height: 0px;
    border: 10px transparent solid;
    border-width: 5px 10px;
    border-right-color: silver;
    bottom: -7px;
    right: 20px;
}
.ctrl-resize::after {
    position: absolute;
    content: " ";
    width: 0px;
    height: 0px;
    border: 10px transparent solid;
    border-width: 10px 5px;
    border-bottom-color: silver;
    bottom: 20px;
    right: -7px;
}
.ctrl-resize:active::before {
    border-right-color: gray;
}
.ctrl-resize:active::after {
    border-bottom-color: gray;
}
