html {
	margin: 8px auto 0 auto;
	padding: 0;
	width: 95%;
}

body {
	background: black;
	color: white;
	font-size: 28px;
	margin: 0;
	padding: 0;
}

header, footer, section {
	min-width: 640px;
	min-height: 480px;
	border: 1px dotted #ccc;
	margin: 0 auto 64px auto;
	padding: 0 32px;
}
section ul {
	
}

a {
	color: inherit;
}
figure img {
	max-width: 100%;
}

footer address {
	float: right;
}

footer dt {
	display: run-in;
	padding-right: 0.333em;
}
footer dt::after {
	content: ': '
}

@media (min-width: 1004px) {
	body {
		font-size: 32px;
	}
}

@media (min-width: 1260px) {
	body {
		font-size: 36px;
	}
}
