.stage {
    -webkit-transform-origin: 50% 50%;
}

.slide {
    position: relative;
    font-size: 20px;
    line-height: 1.5;
    width: 640px;
    height: 480px;
}




.slide [data-key] {
    position: absolute;
    display: none;
    box-sizing: border-box;
    z-index: 6;
}
.slide [data-key] .output {
    width: 100%;
    padding: 0.25em 0.5em;
    box-sizing: border-box;
}




.slide[data-layout="normal"] [data-key="title"],
.slide[data-layout="double"] [data-key="title"],
.slide[data-layout="double-subtitle"] [data-key="title"] {
    display: -webkit-box;
    left: 60px;
    bottom: 360px;
    width: 520px;
    min-height: 2em;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    z-index: 5;
}
.slide[data-layout="title"] [data-key="title"] {
    display: -webkit-box;
    left: 80px;
    bottom: 240px;
    width: 480px;
    min-height: 2em;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    z-index: 5;
}
.slide[data-layout="subtitle"] [data-key="title"] {
    display: -webkit-box;
    left: 80px;
    bottom: 240px;
    width: 420px;
    min-height: 2em;
    font-size: 40px;
    font-weight: bold;
    z-index: 5;
}


.slide[data-layout="normal"] [data-key="content"] {
    display: -webkit-box;
    left: 60px;
    top: 140px;
    width: 520px;
    min-height: 300px;
    z-index: 2;
}
.slide[data-layout="double"] [data-key="content"] {
    display: -webkit-box;
    left: 60px;
    top: 140px;
    width: 250px;
    min-height: 300px;
    z-index: 2;
}
.slide[data-layout="double-subtitle"] [data-key="content"] {
    display: -webkit-box;
    left: 60px;
    top: 210px;
    width: 250px;
    min-height: 230px;
    z-index: 2;
}
.slide[data-layout="title"] [data-key="content"] {
    display: -webkit-box;
    left: 120px;
    top: 260px;
    width: 400px;
    min-height: 5em;
    text-align: center;
    z-index: 2;
}
.slide[data-layout="subtitle"] [data-key="content"] {
    display: -webkit-box;
    left: 100px;
    top: 260px;
    width: 420px;
    min-height: 5em;
    z-index: 2;
}


.slide[data-layout="double"] [data-key="content2"] {
    display: -webkit-box;
    left: 330px;
    top: 140px;
    width: 250px;
    min-height: 300px;
    z-index: 1;
}
.slide[data-layout="double-subtitle"] [data-key="content2"] {
    display: -webkit-box;
    left: 330px;
    top: 210px;
    width: 250px;
    min-height: 230px;
    z-index: 1;
}


.slide[data-layout="double-subtitle"] [data-key="subtitle"] {
    display: -webkit-box;
    left: 60px;
    top: 140px;
    width: 250px;
    min-height: 50px;
    font-size: 24px;
    font-weight: bold;
    z-index: 4;
}


.slide[data-layout="double-subtitle"] [data-key="subtitle2"] {
    display: -webkit-box;
    left: 330px;
    top: 140px;
    width: 250px;
    min-height: 50px;
    font-size: 24px;
    font-weight: bold;
    z-index: 3;
}



.slide .output ul {
    margin-bottom: 0;
}
.slide .output li {
    line-height: inherit;
}



