/**
    @fileOverview
    幻灯片的基本主题布局
    @author Jinjiang<zhaojinjiang@yahoo.com.cn>
 */




/***** General *****/

[data-design] {
    color: black;
}

[data-background-design],
[data-design],
[data-layout],
[data-item] {
    background: transparent none no-repeat;
    background-size: cover;
    background-position: center center;
}

[data-background-design] {
    background-color: white;
}

[data-item] {
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    min-height: 1.5em;

    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
}




/***** Hidden Position *****/

[data-item="title"] {
    text-align: center;
    height: 72px;
    font-weight: bold;
}

[data-item="subtitle"] {
    top: 180px;
    width: 360px;
    left: -340px;
    height: 45px;
    font-weight: bold;
}
[data-item="subtitle2"] {
    top: 180px;
    width: 360px;
    left: 980px;
    height: 45px;
    font-weight: bold;
}

[data-item="content2"] {
    top: 240px;
    width: 360px;
    left: 980px;
}

[data-item] p {
    margin: 0;
}




/***** Font Size *****/

[data-item] {
    font-size: 24px;
}
[data-item].large-font-size {
    font-size: 30px;
}
[data-item].small-font-size {
    font-size: 20px;
}

[data-item="title"] {
    font-size: 48px;
}
[data-item="title"].large-font-size {
    font-size: 54px;
}
[data-item="title"].small-font-size {
    font-size: 36px;
}

[data-item="subtitle"],
[data-item="subtitle2"] {
    font-size: 30px;
}
[data-item="subtitle"].large-font-size,
[data-item="subtitle2"].large-font-size {
    font-size: 36px;
}
[data-item="subtitle"].small-font-size,
[data-item="subtitle2"].small-font-size {
    font-size: 24px;
}




/***** Big Title template *****/

[data-layout="title"] [data-item="title"],
[data-layout="title"] [data-item="content"] {
    display: block;
    opacity: 1;
}

[data-layout="title"] [data-item="title"] {
    width: 750px;
    top: 240px;
    left: 125px;
    height: 108px;
}
[data-layout="title"] [data-item="content"] {
    text-align: center;
    width: 480px;
    top: 375px;
    left: 260px;
}

[data-layout="title"] [data-item="title"].large-font-size {
    font-size: 96px;
}
[data-layout="title"] [data-item="title"] {
    font-size: 72px;
}
[data-layout="title"] [data-item="title"].small-font-size {
    font-size: 48px;
}

[data-layout="title"] [data-item="content"].large-font-size {
    font-size: 42px;
}
[data-layout="title"] [data-item="content"] {
    font-size: 36px;
}
[data-layout="title"] [data-item="content"].small-font-size {
    font-size: 30px;
}




/***** Sub-Title template *****/

[data-layout="subtitle"] [data-item="title"],
[data-layout="subtitle"] [data-item="content"] {
    display: block;
    opacity: 1;
}

[data-layout="subtitle"] [data-item="title"] {
    text-align: left;
    width: 630px;
    top: 300px;
    left: 125px;
}
[data-layout="subtitle"] [data-item="content"] {
    font-size: 30px;
    width: 480px;
    top: 390px;
    left: 170px;
}

[data-layout="subtitle"] [data-item="content"].large-font-size {
    font-size: 36px;
}
[data-layout="subtitle"] [data-item="content"].small-font-size {
    font-size: 24px;
}




/***** Normal template *****/

[data-layout="normal"] [data-item="title"],
[data-layout="normal"] [data-item="content"] {
    display: block;
    opacity: 1;
}

[data-layout="normal"] [data-item="title"] {
    width: 750px;
    top: 75px;
    left: 125px;
}
[data-layout="normal"] [data-item="content"] {
    width: 750px;
    top: 180px;
    left: 125px;
    height: 420px;
}




/***** Two-columns template *****/

[data-layout="double"] [data-item="title"],
[data-layout="double"] [data-item="content"],
[data-layout="double"] [data-item="content2"] {
    display: block;
    opacity: 1;
}

[data-layout="double"] [data-item="title"] {
    width: 750px;
    top: 75px;
    left: 125px;
}
[data-layout="double"] [data-item="content"] {
    width: 360px;
    top: 180px;
    left: 125px;
    height: 420px;
}
[data-layout="double"] [data-item="content2"] {
    width: 360px;
    top: 180px;
    left: 515px;
    height: 420px;
}




/***** Two-columns with Sub-Title template *****/

[data-layout="double-subtitle"] [data-item="title"],
[data-layout="double-subtitle"] [data-item="subtitle"],
[data-layout="double-subtitle"] [data-item="subtitle2"],
[data-layout="double-subtitle"] [data-item="content"],
[data-layout="double-subtitle"] [data-item="content2"] {
    display: block;
    opacity: 1;
}

[data-layout="double-subtitle"] [data-item="title"] {
    width: 750px;
    top: 75px;
    left: 125px;
}
[data-layout="double-subtitle"] [data-item="subtitle"] {
    width: 360px;
    top: 180px;
    left: 125px;
}
[data-layout="double-subtitle"] [data-item="subtitle2"] {
    width: 360px;
    top: 180px;
    left: 515px;
}
[data-layout="double-subtitle"] [data-item="content"] {
    width: 360px;
    top: 240px;
    left: 125px;
    height: 330px;
}
[data-layout="double-subtitle"] [data-item="content2"] {
    width: 360px;
    top: 240px;
    left: 515px;
    height: 330px;
}




