/**
    @fileOverview
    幻灯片的基本主题布局
    @author Jinjiang<zhaojinjiang@yahoo.com.cn>
 */




/***** General *****/

[data-item] {
    opacity: 0;
    position: absolute;
    margin: 0;
    padding: 0;
    line-height: 1.5;

    -webkit-transform-origin: left top;
    -moz-transform-origin: left top;
    -o-transform-origin: left top;
    -ms-transform-origin: left top;
}




/***** Hidden Position *****/

[data-item="title"] {
    text-align: center;
    height: 48px;
    font-weight: bold;
}

[data-item="subtitle"] {
    top: 120px;
    width: 240px;
    left: -260px;
    height: 30px;
    font-weight: bold;
}
[data-item="subtitle2"] {
    top: 120px;
    width: 240px;
    left: 620px;
    height: 30px;
    font-weight: bold;
}

[data-item="content2"] {
    top: 160px;
    width: 240px;
    left: 620px;
}

[data-item] p {
    margin: 0;
}




/***** Font Size *****/

[data-item] {
    font-size: 16px;
}
[data-item].large-font-size {
    font-size: 20px;
}
[data-item].small-font-size {
    font-size: 14px;
}

[data-item="title"] {
    font-size: 32px;
}
[data-item="title"].large-font-size {
    font-size: 36px;
}
[data-item="title"].small-font-size {
    font-size: 24px;
}

[data-item="subtitle"],
[data-item="subtitle2"] {
    font-size: 20px;
}
[data-item="subtitle"].large-font-size,
[data-item="subtitle2"].large-font-size {
    font-size: 24px;
}
[data-item="subtitle"].small-font-size,
[data-item="subtitle2"].large-font-size {
    font-size: 18px;
}




/***** Big Title template *****/

[data-layout="title"] [data-item="title"],
[data-layout="title"] [data-item="content"] {
    display: block;
    opacity: 1;
}

[data-layout="title"] [data-item="title"] {
    width: 500px;
    top: 160px;
    left: 50px;
    height: 72px;
}
[data-layout="title"] [data-item="content"] {
    text-align: center;
    width: 320px;
    top: 250px;
    left: 140px;
}

[data-layout="title"] [data-item="title"].large-font-size {
    font-size: 64px;
}
[data-layout="title"] [data-item="title"] {
    font-size: 48px;
}
[data-layout="title"] [data-item="title"].small-font-size {
    font-size: 32px;
}

[data-layout="title"] [data-item="content"].large-font-size {
    font-size: 28px;
}
[data-layout="title"] [data-item="content"] {
    font-size: 24px;
}
[data-layout="title"] [data-item="content"].small-font-size {
    font-size: 20px;
}




/***** Sub-Title template *****/

[data-layout="subtitle"] [data-item="title"],
[data-layout="subtitle"] [data-item="content"] {
    display: block;
    opacity: 1;
}

[data-layout="subtitle"] [data-item="title"] {
    text-align: left;
    width: 420px;
    top: 200px;
    left: 50px;
}
[data-layout="subtitle"] [data-item="content"] {
    font-size: 20px;
    width: 320px;
    top: 260px;
    left: 80px;
}

[data-layout="subtitle"] [data-item="content"].large-font-size {
    font-size: 24px;
}
[data-layout="subtitle"] [data-item="content"].small-font-size {
    font-size: 16px;
}




/***** Normal template *****/

[data-layout="normal"] [data-item="title"],
[data-layout="normal"] [data-item="content"] {
    display: block;
    opacity: 1;
}

[data-layout="normal"] [data-item="title"] {
    width: 500px;
    top: 50px;
    left: 50px;
}
[data-layout="normal"] [data-item="content"] {
    width: 500px;
    top: 120px;
    left: 50px;
    height: 280px;
}




/***** Two-columns template *****/

[data-layout="double"] [data-item="title"],
[data-layout="double"] [data-item="content"],
[data-layout="double"] [data-item="content2"] {
    display: block;
    opacity: 1;
}

[data-layout="double"] [data-item="title"] {
    width: 500px;
    top: 50px;
    left: 50px;
}
[data-layout="double"] [data-item="content"] {
    width: 240px;
    top: 120px;
    left: 50px;
    height: 280px;
}
[data-layout="double"] [data-item="content2"] {
    width: 240px;
    top: 120px;
    left: 310px;
    height: 280px;
}




/***** Two-columns with Sub-Title template *****/

[data-layout="double-subtitle"] [data-item="title"],
[data-layout="double-subtitle"] [data-item="subtitle"],
[data-layout="double-subtitle"] [data-item="subtitle2"],
[data-layout="double-subtitle"] [data-item="content"],
[data-layout="double-subtitle"] [data-item="content2"] {
    display: block;
    opacity: 1;
}

[data-layout="double-subtitle"] [data-item="title"] {
    width: 500px;
    top: 50px;
    left: 50px;
}
[data-layout="double-subtitle"] [data-item="subtitle"] {
    width: 240px;
    top: 120px;
    left: 50px;
}
[data-layout="double-subtitle"] [data-item="subtitle2"] {
    width: 240px;
    top: 120px;
    left: 310px;
}
[data-layout="double-subtitle"] [data-item="content"] {
    width: 240px;
    top: 160px;
    left: 50px;
    height: 220px;
}
[data-layout="double-subtitle"] [data-item="content2"] {
    width: 240px;
    top: 160px;
    left: 310px;
    height: 220px;
}




