#player section[data-transition="transition_vertical3d"].next {
    -webkit-transform: translate3d(0, 75%, 0) rotateX(60deg) translate3d(0, 75%, 0);
    -moz-transform: translate3d(0, 75%, 0) rotateX(60deg) translate3d(0, 75%, 0);
    -ms-transform: translate3d(0, 75%, 0) rotateX(60deg) translate3d(0, 75%, 0);
    transform: translate3d(0, 75%, 0) rotateX(60deg) translate3d(0, 75%, 0);
}
#player section[data-transition="transition_vertical3d"].prev {
    -webkit-transform: translate3d(0, -75%, 0) rotateX(-60deg) translate3d(0, -75%, 0);
    -moz-transform: translate3d(0, -75%, 0) rotateX(-60deg) translate3d(0, -75%, 0);
    -ms-transform: translate3d(0, -75%, 0) rotateX(-60deg) translate3d(0, -75%, 0);
    transform: translate3d(0, -75%, 0) rotateX(-60deg) translate3d(0, -75%, 0);
}

