#player section[data-transition="transition_metro"] {
    -webkit-transform-origin: 100% 0%;
    -moz-transform-origin: 100% 0%;
    -ms-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}
#player section[data-transition="transition_metro"].next {
    -webkit-transform: translate3d(100%, 0, 0) rotateY(-30deg);
    -moz-transform: translate3d(100%, 0, 0) rotateY(-30deg);
    -ms-transform: translate3d(100%, 0, 0) rotateY(-30deg);
    transform: translate3d(100%, 0, 0) rotateY(-30deg);
}
#player section[data-transition="transition_metro"].prev {
    -webkit-transform: translate3d(100%, 0, 0) rotateY(30deg);
    -moz-transform: translate3d(100%, 0, 0) rotateY(30deg);
    -ms-transform: translate3d(100%, 0, 0) rotateY(30deg);
    transform: translate3d(100%, 0, 0) rotateY(30deg);
}

