#player section[data-transition="rotate12"] {
    -webkit-transform-origin: 20% 80%;
    -moz-transform-origin: 20% 80%;
    -ms-transform-origin: 20% 80%;
    transform-origin: 20% 80%;
}
#player section[data-transition="rotate12"].next,
#player section[data-transition="rotate12"].prev {
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
}

