/**
    @fileOverview
    幻灯片切换动画的基础样式(更丰富的切换动画会汇集在`css/transition`文件夹中)
    @author Jinjiang<zhaojinjiang@yahoo.com.cn>
 */




#player section {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
#player section.current {
    z-index: 2;
}
#player section.next,
#player section.prev {
    display: block;
    opacity: 0;
}




